
/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/breadcrumb-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0 0;
}
/*** Single Page Hero Header End ***/


/*** About Start ***/
.about .tab-class .nav .nav-item a.active,
.about .tab-class .nav .nav-item a.active span {
    background: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

/*** About End ***/

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-hover-bg {
    transition: 0.5s;
}

.btn-hover-bg:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-primary) !important;
}

.btn-hover-color {
    transition: 0.5s;
}

.btn-hover-color:hover {
    color: var(--bs-secondary) !important;
}


/*** Volunteer Start ***/
.volunteer {
    background: rgba(249, 195, 123, .1);
}
.volunteer .volunteer-img {
    position: relative;
    overflow: hidden;
}

.volunteer .volunteer-img .volunteer-title {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    transition: 0.5s;
}

.volunteer .volunteer-img:hover .volunteer-title {
    background: rgba(0, 0, 0, .5);
}

.volunteer .volunteer-img img {
    transition: 0.5s;
}

.volunteer .volunteer-img:hover img {
    transform: scale(1.2);
}
/*** Volunteer End ***/

#p-about{
    color: white;
    font-size: 24px;
    font-family: math;
}

#p-about1{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
#p-about2{
    color: rgb(66, 64, 134);
    font-size: 24px;
    font-family: math;
}
.sBox{
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{--font1: 'Heebo', sans-serif;--font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif}body{font-family: var(--font3);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)}h2{font-weight: 900}
    .container-fluid{max-width: 1200px}
    .card{background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);border: 0;border-radius: 1rem}.card-img, .card-img-top{border-top-left-radius: calc(1rem - 1px);
            border-top-right-radius: calc(1rem - 1px)}
            .card h5{
                overflow: hidden;
                height: 311px;
                font-weight: 900;
                font-size: 18px;
                text-align: justify;
            
            }
                .card-img-top{width: 100%;
                    max-height: 180px;
                    object-fit: contain;
                    padding: 30px
                }
                .card h2{font-size: 1rem}
                .card:hover{transform: scale(1.05);
                box-shadow: 0 10px 20px rgba(0, 0, 0, .12),
                 0 4px 8px rgba(0, 0, 0, .06)}
                 .label-top{position: absolute;
                    background-color: #8bc34a;
                    color: #fff;
                    top: 8px;
                    right: 8px;
                    padding: 5px 10px 5px 10px;
                    font-size: .7rem;
                    font-weight: 600;
                    border-radius: 3px;
                    text-transform: uppercase
                }
                .top-right{position: absolute;
                    top: 24px;
                    left: 24px;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    font-size: 1rem;
                    font-weight: 900;
                    background: #ff5722;
                    line-height: 90px;
                    text-align: center;
                    color: white}
                    .top-right span{display: inline-block;
                        vertical-align: middle
                    }
                    @media (max-width: 768px){
                        .card-img-top{max-height: 250px}
                    }
                    .over-bg{background: rgba(53, 53, 53, 0.85);
                        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                        backdrop-filter: blur(0.0px);
                        -webkit-backdrop-filter: blur(0.0px);
                        border-radius: 10px
                    }
                    .btn{font-size: 1rem;font-weight: 500;
                            text-transform: uppercase;
                            padding: 5px 50px 5px 50px
                        }
                        .box .btn{font-size: 1.5rem}
                        @media (max-width: 1025px){
                            .btn{padding: 5px 40px 5px 40px
                            }}
                            @media (max-width: 250px){
                                .btn{padding: 5px 30px 5px 30px
                                }}
                                .btn-warning{background: none #f7810a;
                                color: #ffffff;
                                fill: #ffffff;
                                border: none;
                                text-decoration: none;
                                outline: 0;
                                box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
                                border-radius: 100px
                            }
                            .btn-warning:hover{
                                background: none #ff962b;
                                color: #ffffff;
                                box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
                            }
                            .bg-success{font-size: 1rem;
                                    background-color: #f7810a !important}
                                    .bg-danger{font-size: 1rem}
                                    .price-hp{font-size: 1rem;font-weight: 600;color: darkgray}
                                    .amz-hp{font-size: .7rem;font-weight: 600;color: darkgray}
                                    .fa-question-circle:before{color: darkgray}
                                    .fa-plus:before{color: darkgray}.box{border-radius: 1rem;
                                        background: #fff;box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
                                        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)}.box-img{max-width: 300px}.thumb-sec{max-width: 300px}
                                        @media (max-width: 576px){
                                            .box-img{max-width: 200px}
                                            .thumb-sec{max-width: 200px}}
                                            .inner-gallery{width: 60px;height: 60px;
                                                border: 1px solid #ddd;
                                                border-radius: 3px;
                                                margin: 1px;display: inline-block;
                                                overflow: hidden;
                                                -o-object-fit: cover;
                                                object-fit: cover}
                                                @media (max-width: 370px)
                                        {.box .btn{padding: 5px 40px 5px 40px;font-size: 1rem}}
                                        .disclaimer{font-size: .9rem;color: darkgray}
                                        .related h3{font-weight: 900}
                                        footer{background: #212529;
                                            height: 80px;color: #fff}

                                            .li-col{

                                            }


                                            

                                            

                                            * {
                                                box-sizing: border-box;
                                                padding: 0;
                                                margin: 0;
                                              }
                                              
                                              :root {
                                                --purple: hsl(240, 80%, 89%);
                                                --pink: hsl(0, 59%, 94%);
                                                --light-bg: hsl(204, 37%, 92%);
                                                --light-gray-bg: hsl(0, 0%, 94%);
                                                --white: hsl(0, 0%, 100%);
                                                --dark: hsl(0, 0%, 7%);
                                                --text-gray: hsl(0, 0%, 30%);
                                              }
                                              
                                            
                                              h3 {
                                                font-size: 1.5em;
                                                font-weight: 700;
                                              }
                                              
                                              p {
                                                font-size: 1em;
                                                line-height: 1.7;
                                                font-weight: 300;
                                                color: var(--text-gray);
                                              }
                                              
                                              .description {
                                                white-space: wrap;
                                              }
                                              
                                              a {
                                                text-decoration: none;
                                                color: inherit;
                                              }
                                              
                                              .wrap {
                                                display: flex;
                                                justify: space-between;
                                                align-items: stretch;
                                                width: 100%;
                                                gap: 24px;
                                                padding: 24px;
                                                flex-wrap: wrap;
                                              }
                                              
                                              .box {
                                                display: flex;
                                                flex-direction: column;
                                                background: #fff;
                                              }
                                              
                                              .box-top {
                                                display: flex;
                                                flex-direction: column;
                                                position: relative;
                                                gap: 12px;
                                                margin-bottom: 36px;
                                              }
                                              
                                              .box-image {
                                                width: 100%;
                                                height: 199px;
                                                object-fit: cover;
                                                object-position: 50% 20%;
                                              }
                                              
                                              .title-flex {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                              }
                                              
                                              .box-title {
                                                border-left: 3px solid var(--purple);
                                                padding-left: 12px;
                                              }
                                              
                                              .user-follow-info {
                                                color: hsl(0, 0%, 60%);
                                              }
                                              
                                              .button {
                                                display: block;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                                margin-top: auto;
                                                padding: 16px;
                                                color: #000;
                                                background: transparent;
                                                box-shadow: 0px 0px 0px 1px black inset;
                                                transition: background 0.4s ease;
                                              }
                                              
                                              .button:hover {
                                                background: var(--purple);
                                              }
                                              
                                              .fill-one {
                                                background: var(--light-bg);
                                              }
                                              
                                              .fill-two {
                                                background: var(--pink);
                                              }
                                              
                                              /* RESPONSIVE QUERIES */
                                              
                                              @media (min-width: 320px) {
                                                .title-flex {
                                                  display: flex;
                                                  flex-direction: column;
                                                  justify-content: flex-start;
                                                  align-items: start;
                                                }
                                                .user-follow-info {
                                                  margin-top: 6px;
                                                }
                                              }
                                              
                                              @media (min-width: 460px) {
                                                .title-flex {
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: space-between;
                                                  align-items: start;
                                                }
                                                .user-follow-info {
                                                  margin-top: 6px;
                                                }
                                              }
                                              
                                              @media (min-width: 640px) {
                                                .box {
                                                  flex-basis: calc(50% - 12px);
                                                }
                                                .title-flex {
                                                  display: flex;
                                                  flex-direction: column;
                                                  justify-content: flex-start;
                                                  align-items: start;
                                                }
                                                .user-follow-info {
                                                  margin-top: 6px;
                                                }
                                              }
                                              
                                              @media (min-width: 840px) {
                                                .title-flex {
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: space-between;
                                                  align-items: start;
                                                }
                                                .user-follow-info {
                                                  margin-top: 6px;
                                                }
                                              }
                                              
                                              @media (min-width: 1024px) {
                                                .box {
                                                  flex-basis: calc(33.3% - 16px);
                                                }
                                                .title-flex {
                                                  display: flex;
                                                  flex-direction: column;
                                                  justify-content: flex-start;
                                                  align-items: start;
                                                }
                                                .user-follow-info {
                                                  margin-top: 6px;
                                                }
                                              }
                                              
                                              @media (min-width: 1100px) {
                                                .box {
                                                  flex-basis: calc(25% - 18px);
                                                }
                                              }
                                              

                                              .p-bold{
                                                font-weight: bold;
                                                padding: 10px;
                                              }

                                              .img-cls{
                                                position: relative;
                                                top: -25px;
                                                height: auto;
                                                width: 500px;
                                            

                                              }

                                              #mission-img{
                                                height: 350px;
                                                width: 670px;
                                              }