.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF; /* White background */
    height: 675px;
}

.welcome-content {
    flex: 1;
    max-width: 602px;
    padding-right: 22px;
    font-weight: bold;
    font-family: inherit;
}

.welcome-content h1 {
    font-size: 42px;
    font-weight: bold;
    color: #005C97;
    font-family: 'Fjalla One';
}

.welcome-content p {
    color: #333333; /* Dark Gray text color */
    margin-bottom: 20px;
    font-size: 24px;
    
   
}

.join-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF7F11; /* Orange button color */
    color: #FFFFFF; /* White button text color */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.join-button:hover {
    background-color: #FF6A00; /* Darker shade of Orange on hover */
}

.welcome-image {
    flex: 1;
    max-width: 50%;
}

.welcome-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light box-shadow */
}


.circle-border {
    width: 85vw; /* 85% of the viewport width */
    height: 85vw; /* 85% of the viewport width */
    max-width: 500px; /* Maximum width for smaller screens */
    max-height: 500px; /* Maximum height for smaller screens */
    border: 3px solid #005C97; /* Dark Blue border color */
    border-radius: 50%; /* Make the div a circle */
    overflow: hidden; /* Clip the image to the circle */
    display: inline-block; /* Ensure the div doesn't stretch */
}

.circle-border img {
    width: 100%; /* Ensure the image fills the circle */
    height: 100%; /* Ensure the image fills the circle */
    object-fit: cover; /* Prevent image distortion */
}
